Bondora

In [90]:
import numpy as np
import pandas as pd

In [91]:
data=pd.read_csv("Bondora_raw.csv")

C:\Users\ACER\AppData\Local\Temp\ipykernel_5852\541122139.py:1: DtypeWarning: Columns (34,37,38,80,82,83,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("Bondora_raw.csv")

In [92]:
data

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,2020-01-27,A9C9EF0F-4E79-4930-BA8A-A4130077FCC2,283484,2015-01-02 16:31:36,2015-01-02 16:31:36,2515,0,485.0000,BO73K5A6A,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1040.06,180+
134525,2020-01-27,787345C2-7606-4F72-8FE2-A4170082D77C,285168,2015-01-05 16:14:26,2015-01-05 16:14:26,1880,0,1120.0000,BO311A49,False,...,0,2017-06-27,2018-06-20,NaN,NaN,NaN,NaN,0.0,0.00,NaN
134526,2020-01-27,E2D3384D-289A-4B4D-A2DA-A40F00F7C755,281602,2015-01-02 14:04:27,2015-01-02 14:04:27,1975,0,525.0000,BO41K639A,True,...,0,NaN,NaN,NaN,0.0,60.0,NaN,0.0,1051.85,8-15
134527,2020-01-27,7CC7AB74-995B-4467-958A-A41700F78D59,285431,2015-01-05 16:56:12,2015-01-05 16:56:12,1840,0,1160.0000,BO45A925,False,...,0,2016-04-01,2016-10-03,NaN,NaN,NaN,NaN,0.0,889.50,31-60
134528,2020-01-27,3A0DEBF3-292C-4EB4-B71A-A4170157749D,285630,2015-01-06 11:07:06,2015-01-06 11:07:06,2990,0,10.0000,BO152923A,False,...,0,2015-09-14,2016-03-14,NaN,0.0,60.0,2015-09-09,0.0,604.80,91-120

# Preprocessing

In [93]:
drop_cols=['ReportAsOfEOD',
 'LoanId',
 'LoanNumber',
 'ListedOnUTC','DateOfBirth',
 'BiddingStartedOn','UserName', 'LanguageCode','LoanApplicationStartedDate','FirstPaymentDate','IncomeFromPrincipalEmployer', 'IncomeFromPension',
       'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
       'IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther','LoanApplicationStartedDate','ApplicationSignedHour',
       'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached','ModelVersion','WorseLateCategory','PlannedPrincipalTillDate',"NextPaymentNr",'ProbabilityOfDefault',
          'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn']
print(len(drop_cols))
data.drop(drop_cols,axis=1,inplace=True)

29

In [94]:
nan=data.isnull().sum()[data.isnull().sum()>0]
print(nan/len(data))
nan=nan/len(data)
drop_cols=list(nan[nan>0.5].index)
print(len(drop_cols))

ContractEndDate                        0.561559
VerificationType                       0.000335
Gender                                 0.000335
MonthlyPayment                         0.049692
County                                 0.273844
City                                   0.072802
Education                              0.000335
MaritalStatus                          0.000335
NrOfDependants                         0.735373
EmploymentStatus                       0.001464
EmploymentDurationCurrentEmployer      0.006512
EmploymentPosition                     0.731731
WorkExperience                         0.728520
OccupationArea                         0.000639
HomeOwnershipType                      0.012280
DebtToIncome                           0.000335
FreeCash                               0.000335
PlannedInterestTillDate                0.029302
LastPaymentOn                          0.070847
CurrentDebtDaysPrimary                 0.639349
DebtOccuredOn                          0.639349
CurrentDebtDaysSecondary               0.611608
DebtOccuredOnForSecondary              0.611608
DefaultDate                            0.680998
PrincipalOverdueBySchedule             0.110288
PlannedPrincipalPostDefault            0.680998
PlannedInterestPostDefault             0.680998
EAD1                                   0.680998
EAD2                                   0.680998
PrincipalRecovery                      0.680998
InterestRecovery                       0.680998
RecoveryStage                          0.425841
StageActiveSince                       0.398241
Rating                                 0.020293
EL_V0                                  0.966037
Rating_V0                              0.966037
EL_V1                                  0.903946
Rating_V1                              0.903946
Rating_V2                              0.813103
ActiveLateCategory                     0.639349
CreditScoreEsMicroL                    0.219834
CreditScoreEsEquifaxRisk               0.909172
CreditScoreFiAsiakasTietoRiskGrade     0.758283
CreditScoreEeMini                      0.466866
PrincipalWriteOffs                     0.560474
InterestAndPenaltyWriteOffs            0.560474
PreviousRepaymentsBeforeLoan           0.320830
PreviousEarlyRepaymentsBefoleLoan      0.568673
GracePeriodStart                       0.860342
GracePeriodEnd                         0.860342
NextPaymentDate                        0.512046
NrOfScheduledPayments                  0.273108
ReScheduledOn                          0.700273
PrincipalDebtServicingCost             0.560474
InterestAndPenaltyDebtServicingCost    0.560474
ActiveLateLastPaymentCategory          0.611608
dtype: float64
33

In [95]:
data.drop(drop_cols,axis=1,inplace=True)
print(data.shape)

(134529, 51)

Dropping Date-Time Columns

In [96]:

date_cols=["LoanDate","MaturityDate_Original","MaturityDate_Last",'LastPaymentOn']
data.drop(date_cols,axis=1,inplace=True)

In [97]:
data.loc[data['Education']==1,"Education"]="Primary"
data.loc[data['Education']==2,"Education"]="Basic"
data.loc[data['Education']==3,"Education"]="Vocational"
data.loc[data['Education']==4,"Education"]="Secondary"
data.loc[data['Education']==5,"Education"]="Higher"
data.loc[data['Education'] == -1.0,"Education"] = 'Not_present'
data.loc[data['Education'] == 0.0,"Education"] = 'Not_present'

In [98]:
data.loc[data['EmploymentStatus']==1,"EmploymentStatus"]="Un-Employed"
data.loc[data['EmploymentStatus']==2,"EmploymentStatus"]="Partially-Employed"
data.loc[data['EmploymentStatus']==3,"EmploymentStatus"]="Fully-Employed"
data.loc[data['EmploymentStatus']==4,"EmploymentStatus"]="Self-Employed"
data.loc[data['EmploymentStatus']==5,"EmploymentStatus"]="Entrepreneur"
data.loc[data['EmploymentStatus']==6,"EmploymentStatus"]="Retiree"
data.loc[data['EmploymentStatus']==-1,"EmploymentStatus"]="Unknown"
data.loc[data['EmploymentStatus']==0,"EmploymentStatus"]="Unknown"

In [99]:
data.loc[data['Gender'] == 0.0,'Gender'] = 'Male'
data.loc[data['Gender'] == 1.0,'Gender']= 'Female'
data.loc[data['Gender'] == 2.0,'Gender'] = 'Unknown'

In [100]:
data.loc[data['HomeOwnershipType']==0,"HomeOwnershipType"]="Homeless"
data.loc[data['HomeOwnershipType']==1,"HomeOwnershipType"]="Owner"
data.loc[data['HomeOwnershipType']==2,"HomeOwnershipType"]='Living_with_parents'
data.loc[data['HomeOwnershipType']==3,"HomeOwnershipType"]='Tenant_pre_furnished_property'
data.loc[data['HomeOwnershipType']==4,"HomeOwnershipType"]="Tenant_unfurnished_property"
data.loc[data['HomeOwnershipType']==5,"HomeOwnershipType"]="Council_house"
data.loc[data['HomeOwnershipType']==6,"HomeOwnershipType"]="Joint_tenant"
data.loc[data['HomeOwnershipType']==7,"HomeOwnershipType"]="Joint_Ownership"
data.loc[data['HomeOwnershipType']==8,"HomeOwnershipType"]="Mortgage"
data.loc[data['HomeOwnershipType']==9,"HomeOwnershipType"]='Owner_with_encumbrance'
data.loc[data['HomeOwnershipType']==10,"HomeOwnershipType"]="Other"
data.loc[data['HomeOwnershipType']==-1,"HomeOwnershipType"]="Unknown"

In [101]:
data.loc[data['MaritalStatus']==-1,"MaritalStatus"]="Not_specified"
data.loc[data['MaritalStatus']==0,"MaritalStatus"]="Not_specified"
data.loc[data['MaritalStatus']==1,"MaritalStatus"]="Married"
data.loc[data['MaritalStatus']==2,"MaritalStatus"]="Cohabitant"
data.loc[data['MaritalStatus']==3,"MaritalStatus"]="Single"
data.loc[data['MaritalStatus']==4,"MaritalStatus"]="Divorced"
data.loc[data['MaritalStatus']==5,"MaritalStatus"]="Widow"

In [102]:
data.loc[data['OccupationArea'] == 1,'OccupationArea'] = 'Other'
data.loc[data['OccupationArea'] == 2,'OccupationArea'] = 'Mining'
data.loc[data['OccupationArea'] == 3,'OccupationArea'] = 'Processing'
data.loc[data['OccupationArea'] == 4,'OccupationArea'] = 'Energy'
data.loc[data['OccupationArea'] == 5,'OccupationArea'] = 'Utilities'
data.loc[data['OccupationArea'] == 6,'OccupationArea'] = 'Construction'
data.loc[data['OccupationArea'] == 7,'OccupationArea'] = 'Retail_and_wholesale'
data.loc[data['OccupationArea'] == 8,'OccupationArea'] = 'Transport_and_warehousing'
data.loc[data['OccupationArea'] == 9,'OccupationArea'] = 'Hospitality_and_catering'
data.loc[data['OccupationArea'] == 10,'OccupationArea'] = 'Info_and_telecom'
data.loc[data['OccupationArea'] == 11,'OccupationArea'] = 'Finance_and_insurance'
data.loc[data['OccupationArea'] == 12,'OccupationArea'] = 'Real_estate'
data.loc[data['OccupationArea'] == 13,'OccupationArea'] = 'Research'
data.loc[data['OccupationArea'] == 14,'OccupationArea'] = 'Administrative'
data.loc[data['OccupationArea'] == 15,'OccupationArea'] = 'Civil_service_and_military'
data.loc[data['OccupationArea'] == 16,'OccupationArea'] = 'Education'
data.loc[data['OccupationArea'] == 17,'OccupationArea'] = 'Healthcare_and_social_help'
data.loc[data['OccupationArea'] == 18,'OccupationArea'] = 'Art_and_entertainment'
data.loc[data['OccupationArea'] == 19,'OccupationArea'] = 'Agriculture_forestry_and_fishing'
data.loc[data['OccupationArea'] == -1.0,'OccupationArea'] = 'Not_specified'
data.loc[data['OccupationArea'] == 0.0,'OccupationArea'] = 'Not_specified'

In [103]:
data.loc[data['UseOfLoan'] == -1,'UseOfLoan'] = 'Not_set'
data.loc[data['UseOfLoan'] == 0,'UseOfLoan'] = 'Loan_consolidation'
data.loc[data['UseOfLoan'] == 1,'UseOfLoan'] = 'Real_estate'
data.loc[data['UseOfLoan'] == 2,'UseOfLoan'] = 'Home_improvement'
data.loc[data['UseOfLoan'] == 3,'UseOfLoan'] = 'Business'
data.loc[data['UseOfLoan'] == 4,'UseOfLoan'] = 'Education'
data.loc[data['UseOfLoan'] == 5,'UseOfLoan'] = 'Travel'
data.loc[data['UseOfLoan'] == 6,'UseOfLoan'] = 'Vehicle'
data.loc[data['UseOfLoan'] == 7,'UseOfLoan'] = 'Other'
data.loc[data['UseOfLoan'] == 8,'UseOfLoan'] = 'Health'
data.loc[data['UseOfLoan'] == 101,'UseOfLoan'] = 'Working_capital_financing'
data.loc[data['UseOfLoan'] == 102,'UseOfLoan'] = 'Purchase_of_machinery_equipment'
data.loc[data['UseOfLoan'] == 104,'UseOfLoan'] = 'Accounts_receivable_financing'
data.loc[data['UseOfLoan'] == 106,'UseOfLoan'] = 'Construction_finance'
data.loc[data['UseOfLoan'] == 107,'UseOfLoan'] = 'Acquisition_of_stocks'
data.loc[data['UseOfLoan'] == 108,'UseOfLoan'] = 'Acquisition_of_real_estate'
data.loc[data['UseOfLoan'] == 110,'UseOfLoan'] = 'Other_business'

In [104]:
data.loc[data['VerificationType'] == 0.0,'VerificationType'] = 'Not_set'
data.loc[data['VerificationType'] == 1.0,'VerificationType'] = 'Income_unverified'
data.loc[data['VerificationType'] == 2.0,'VerificationType'] = 'Income_unverified_crossref_phone'
data.loc[data['VerificationType'] == 3.0,'VerificationType'] = 'Income_verified'
data.loc[data['VerificationType'] == 4.0,'VerificationType'] = 'Income_expenses_verified'

In [105]:
data.loc[data['NewCreditCustomer'] == False,'NewCreditCustomer'] = 'Existing_credit_customer'
data.loc[data['NewCreditCustomer'] == True,'NewCreditCustomer'] = 'New_credit_Customer'

data.loc[data['Restructured'] == False,'Restructured']='No'
data.loc[data['Restructured'] == True,'Restructured']='Yes'

data.loc[data['RecoveryStage']==1,'RecoveryStage']='Collection'
data.loc[data['RecoveryStage']==0,'RecoveryStage']='Recovery'

In [106]:
data.isnull().sum()

BidsPortfolioManager                          0
BidsApi                                       0
BidsManual                                    0
NewCreditCustomer                             0
VerificationType                             45
Age                                           0
Gender                                       45
Country                                       0
AppliedAmount                                 0
Amount                                        0
Interest                                      0
LoanDuration                                  0
MonthlyPayment                             6685
County                                    36840
City                                       9794
UseOfLoan                                     0
Education                                    45
MaritalStatus                                45
EmploymentStatus                            197
EmploymentDurationCurrentEmployer           876
OccupationArea                               86
HomeOwnershipType                          1652
IncomeTotal                                   0
ExistingLiabilities                           0
LiabilitiesTotal                              0
RefinanceLiabilities                          0
DebtToIncome                                 45
FreeCash                                     45
MonthlyPaymentDay                             0
PlannedInterestTillDate                    3942
PrincipalOverdueBySchedule                14837
RecoveryStage                             57288
StageActiveSince                          53575
Rating                                     2730
Status                                        0
Restructured                                  0
CreditScoreEsMicroL                       29574
CreditScoreEeMini                         62807
PrincipalPaymentsMade                         0
InterestAndPenaltyPaymentsMade                0
PrincipalBalance                              0
InterestAndPenaltyBalance                     0
NoOfPreviousLoansBeforeLoan                   0
AmountOfPreviousLoansBeforeLoan               0
PreviousRepaymentsBeforeLoan              43161
PreviousEarlyRepaymentsCountBeforeLoan        0
NrOfScheduledPayments                     36741
dtype: int64

In [107]:
data

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,Gender,Country,AppliedAmount,Amount,...,CreditScoreEeMini,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,NrOfScheduledPayments
0,0,0,115.0410,New_credit_Customer,Income_unverified_crossref_phone,61,Female,EE,319.5582,115.0408,...,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0,NaN
1,0,0,140.6057,Existing_credit_customer,Income_unverified_crossref_phone,48,Female,EE,191.7349,140.6057,...,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0,NaN
2,0,0,319.5580,New_credit_Customer,Income_unverified_crossref_phone,58,Female,EE,319.5582,319.5409,...,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0,NaN
3,0,0,57.5205,New_credit_Customer,Income_unverified_crossref_phone,23,Female,EE,127.8233,57.5205,...,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0,NaN
4,0,0,319.5582,New_credit_Customer,Income_unverified_crossref_phone,25,Female,EE,319.5582,319.5436,...,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,2515,0,485.0000,New_credit_Customer,Income_verified,37,Male,FI,3000.0000,3000.0000,...,NaN,2308.1900,0.0000,0.00,0.00,0,0.0000,0.0000,0,NaN
134525,1880,0,1120.0000,Existing_credit_customer,Income_verified,35,Male,FI,3000.0000,3000.0000,...,NaN,3000.0000,1990.0300,0.00,0.00,1,3000.0000,389.3600,0,NaN
134526,1975,0,525.0000,New_credit_Customer,Income_unverified,40,Male,FI,2500.0000,2500.0000,...,NaN,1869.7600,199.3300,630.24,1227.98,0,0.0000,0.0000,0,60.0
134527,1840,0,1160.0000,Existing_credit_customer,Income_expenses_verified,47,Female,EE,3000.0000,3000.0000,...,1000.0,2257.5400,561.5300,0.00,0.00,1,500.0000,96.8000,0,NaN
134528,2990,0,10.0000,Existing_credit_customer,Income_expenses_verified,21,Female,EE,3000.0000,3000.0000,...,1000.0,1473.9100,683.2100,1526.09,9019.04,1,2500.0000,242.6400,0,60.0